<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kulud</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1>Kulud</h1>
        <form id="expense-form">
            <input type="text" id="expense-name" placeholder="Kulu nimi" required>
            <input type="date" id="expense-date" required>
            <input type="number" id="expense-amount" placeholder="Summa (€)" required>
            <button type="submit">Lisa kulu</button>
        </form>
        <h2>Kulude ajalugu</h2>
        <ul id="expense-list"></ul>
        <div class="total-amount">
            <span id="total-amount">0</span>
        </div>
        <button id="delete-all-btn" class="delete-all-btn">Kustuta kõik</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
